%% -*- mode: erlang; erlang-indent-level: 2 -*-
{erl_opts,    [debug_info, warnings_as_errors, nowarn_shadow_vars]}.
{xref_checks, [undefined_function_calls]}.
{port_specs,  [{"bin/cnode", ["c_src/cnode.c"]},
               {"bin/dlopen",["c_src/dlopen.c"]}]}.
{port_env,    [{"linux", "LDFLAGS",  "$LDFLAGS -lpthread -rdynamic -ldl"},
               {"CC", "gcc"}]}.
